.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  text-align: left;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}
